- if @season.signups_open?

  = @cms_site.pages.find_by(slug: 'current-season-introduction').content.html_safe

  = link_to "Signup now!", new_season_subscription_path(@season), class: "button red"

  = link_to "Take me to the Online Store >", "https://openfoodnetwork.org.au/baw-baw-fresh-organics/shop", class: "button"

- else
  %h2 Sorry!

  %p
    Signups for the
    = @season.name
    season are now closed.
