.row{ 'data-equalizer' => true }
  - if param_1 == "text_left"
    = render 'cms/cms_column', cms: param_2
    = render 'cms/img_column', img: param_3
  - else
    = render 'cms/img_column', img: param_3
    = render 'cms/cms_column', cms: param_2