%h2 Opt-out confirmed

%h4
  Thankyou for supporting your local food community! We hope to see you again soon.

%br

%p
  Please remember that you can order a
  %strong 'casual'
  box of any size, as well as extras like milk, bread and butter from our
  =link_to "online store", 'https://openfoodnetwork.org.au/baw-baw-fresh-organics/shop', target: '_blank'
  at any time without having to commit to a weekly box.

%p.offset-bottom
  Please don't hesitate to get in touch with us via
  %strong info@bawbawfoodhub.org.au
  if you have any questions or if anything is unclear.

=link_to "Head to the Online Store now >", 'https://openfoodnetwork.org.au/baw-baw-fresh-organics/shop', target: '_blank', class: 'button red'
