%h2 Cancellation confirmed

%h3
  We have
  %strong cancelled
  your subscription for the #{@rollover.season.name} season.

%br

%p
  We're sad to see you go, and we hope to see you again soon. Please remember that you can order a
  %strong 'casual'
  box of any size from our
  =link_to "online store", 'https://openfoodnetwork.org.au/baw-baw-fresh-organics/shop', target: '_blank'
  at any time without having to commit to a weekly box.

%p.offset-bottom
  Remember, the store is open between Wednesday morning and
  %strong Sunday midday.

%p.offset-bottom
  Please don't hesitate to get in touch with us via
  %strong info@bawbawfoodhub.org.au
  if you have any questions or if anything is unclear.

=link_to "Head to the Online Store now >", 'https://openfoodnetwork.org.au/baw-baw-fresh-organics/shop', target: '_blank', class: 'button red'
