.row{ 'data-equalizer' => true }
  .small-12.medium-12.large-6.columns
    .callout{ 'data-equalizer-watch' => true }
      %h3 You are invited to signup to our Spring season of vegetable boxes!
      %p Signups for spring are now open, and we'd love it if you joined us for a season of delicious local produce.
      %p We have three box sizes available ($22, $32 and $47 for subscribers only) and a growing list of locally produced extras for you to choose from.
      = link_to "Signup Now!", season_path(current_season), class: "button red"

  .small-12.medium-12.large-6.columns
    .image-content.broccoli.shaded{ 'data-equalizer-watch' => true }
      .content
        %h2 New to this?
        %p We pack boxes of fresh, local and organic produce for our customers each week.
        %a.button{ href: '/local-food/weekly-veggie-boxes' }
          Find out more!

.row
  .small-12.columns
    = @cms_site.pages.root.content.html_safe
