- bulletin_page = cms_page('bulletin-board')
- if bulletin_page.present?
  .lush-panel.green#bulletin-board
    .row
      .small-12.columns
        = sanitize(cms_fragment_content(:content, bulletin_page))

.lush-panel.capsicums.shaded#signup
  .row
    .small-12.medium-6.columns.text-center
      %h2 Veggie Boxes
      %h3
        %i.bbfh-sprout
        Three sizes (S, M, L)
      %h3
        %i.bbfh-sprout
        Local + Organic
      %h3
        %i.bbfh-sprout
        Tuesday or Wednesday
      %h3
        %i.bbfh-sprout
        Weekly or Fortnightly
      %h3
        %i.bbfh-sprout
        Pickup or Delivered
      %br
      %a.button.radius.red{ href: new_season_subscription_path(current_season) }
        Sign Up Now
        =icon('arrow-right')
    .medium-6.show-for-medium-up.columns.text-center
      &nbsp;

.lush-panel.apples.shaded#online-shop
  .row
    .medium-6.show-for-medium-up.columns.text-center
      &nbsp;
    .small-12.medium-6.columns.text-center
      %h2 Online Shop
      %h3
        %i.bbfh-sprout
        Casual (one-off) boxes
      %h3
        %i.bbfh-sprout
        Fruit, Yoghurt, Bread
      %h3
        %i.bbfh-sprout
        Cheese, Preserves and more!
      %br
      %a.button.radius{ href: "https://openfoodnetwork.org.au/bawbawfoodhub/shop", target: '_blank' }
        Online Shop
        =icon('arrow-right')

- if cms_page('our-range')
  .lush-panel.honey.shaded#what-we-stock
    .row
      .small-12.medium-6.columns.text-center
        %h2 What we stock
        %h3
          %i.bbfh-sprout
          Fruit, Yoghurt, Bread
        %h3
          %i.bbfh-sprout
          Rice, Flour, Legumes
        %h3
          %i.bbfh-sprout
          Milk, Muesli and more!
        %br
        %a.button.radius.red{ href: cms_page('our-range').full_path }
          View our range
          =icon('arrow-right')
      .medium-6.show-for-medium-up.columns.text-center
        &nbsp;

.lush-panel.broccoli.shaded#newsletters
  .row
    .small-12.medium-6.columns.text-center
      %h2 Newsletters
      %h3
        %i.bbfh-sprout
        Upcoming Events
      %h3
        %i.bbfh-sprout
        Farm and Produce Updates
      %h3
        %i.bbfh-sprout
        What's in the box?
      %br
      %a.button.radius{ href: newsletters_path }
        Browse Newsletter Archive
        =icon('arrow-right')
    .small-12.medium-6.columns.text-center
      %h2 Join Our Mailing List
      %form#mc-embedded-subscribe-form.validate{:action => "//facebook.us8.list-manage.com/subscribe/post?u=87d56e29d660188ebfd3e03ce&id=3bd359d80a", :method => "post", :name => "mc-embedded-subscribe-form", :novalidate => "", :target => "_blank"}
        .small-8.small-centered.columns
          %input#mce-FNAME{:name => "FNAME", :type => "text", :value => "", placeholder: "Given Name"}/
          %input#mce-LNAME{:name => "LNAME", :type => "text", :value => "", placeholder: "Surname"}/
          %input#mce-EMAIL.required.email{:name => "EMAIL", :type => "email", :value => "", placeholder: "Your email"}/
          %div{:style => "position: absolute; left: -5000px;"}
            %input{:name => "b_87d56e29d660188ebfd3e03ce_3bd359d80a", :tabindex => "-1", :type => "text", :value => ""}/
          %input#mc-embedded-subscribe.button.radius.expand.red{:name => "subscribe", :type => "submit", :value => "Subscribe"}/

- if cms_page('get-involved')
  .lush-panel.planting.shaded#join-the-movement
    .row
      .medium-6.show-for-medium-up.columns.text-center
        &nbsp;
      .small-12.medium-6.columns.text-center
        %h2 Join the Movement
        %p We're a passionate collective of growers, makers and eaters working to strengthen our local food economy, to support local growers and to improve access to high quality, nutritious food. We believe that the availability of local, ecologically produced food is an essential pre-condition for a happy, healthy, thriving community.
        %br
        %a.button.radius{ href: cms_page('get-involved').full_path }
          Find out more
          =icon('arrow-right')

.lush-panel.quinces.shaded#where-to-find-us
  .row
    .small-12.medium-6.columns.text-center
      %h2 Location and Hours
      %h3 Tue 3pm - 5:30pm
      %h3 Wed 10am - 5:30pm
      %h3 Thu 10am - 5:30pm
      %h3 Fri 10am - 5:30pm
      %h3 Sat 10am - 1:00pm
      %h3 156-158 Queen Street, Warragul
    .small-12.medium-6.columns.text-center
      .small-12.small-centered.columns
        %iframe{:allowfullscreen => "", height: "400", width: '100%', :frameborder => "0", :src => "https://www.google.com/maps/embed/v1/place?key=#{Rails.application.secrets.google_maps_api_key}&q=Baw+Baw+Food+Hub,Warragul+Australia", :style => "border:0" }
