.row{ 'data-equalizer' => true }
  .small-6.columns
    .callout{ 'data-equalizer-watch' => true }
      %h3 We are now acccepting singups for our Summer 2014-2015 season!
      %p We will pack boxes every Tuesday in December up until (and including) the 23rd. We will then take a short break through Chistmas and the new year, and will begin packing boxes again from the 13th of January.
      %p
        Signing up for the season entitles you to a guaranteed box each week, and a price discount relative to our 'one-off' box prices. More information about our pricing policy is
        = succeed '.' do
          %a{ href: "#" } available here
      %a.button.red
        Signup Now!

  .small-6.columns
    .image-callout.broccoli{ 'data-equalizer-watch' => true }
      .content
        %h2 New to this?
        %p Let us explain how it works...
        .button
          Find out now!