= form_for [:admin, @sensor] do |f|
  .row
    .small-6.columns
      =f.label :name
      =f.text_field :name
    .small-6.columns
      =f.label :identifier
      =f.text_field :identifier
  .row
    .small-3.columns
      =f.label :lower_limit
      =f.text_field :lower_limit
    .small-3.columns
      =f.label :upper_limit
      =f.text_field :upper_limit
    .small-3.columns
      =f.label :fail_count_for_value_alert do
        Send an SMS after (x) failures
        %i.fa.fa-question-circle.has-tip{ 'data-tooltip' => true, 'aria-haspopup' => true, title: 'How many consecutive failures to fall inside the specified limit should it take to trigger an SMS alert?' }
      =f.text_field :fail_count_for_value_alert
    .small-3.columns
      =f.label :active, "Active?"
      =f.check_box :active
  .row
    .small-12.columns
      -if %w(new create).include? action_name
        = submit_tag "Create"
      -else
        = submit_tag "Update"
