= form_for [:admin, @sensor] do |f|
  .row
    .small-12.columns
      =f.label :name
      =f.text_field :name
  .row
    .small-4.columns
      =f.label :lower_limit
      =f.text_field :lower_limit
    .small-4.columns
      =f.label :upper_limit
      =f.text_field :upper_limit
    .small-4.columns
      =f.label :active, "Active?"
      =f.check_box :active
  .row
    .small-12.columns
      -if %w(new create).include? action_name
        = submit_tag "Create"
      -else
        = submit_tag "Update"
