- closed_page = cms_page('subscriptions-closed')
- if closed_page.present?
  = sanitize(cms_fragment_content(:content, closed_page))
- else


%h2 New Subscriptions Temporarily Unavailable

%p Updated on: Monday 23/03/2020

%p We have temporarily paused new subscriptions as we have reached our capacity. Please note that this decision is purely a reflection of what can be expected of our staff and volunteers at this time, and has been made in the interests of the sustaining the service that we offer to our community.

%p
  It is important to note that
  %strong there are no issues with the supply of food to the hub.
  We continue to have strong relationships with our producers and suppliers, and expect this to continue.

%p If you are interested in a subscription, please ensure you have subscribed to our newsletters (on the homepage). We will be continuously reassessing out operations as the COVID-19 issue evolves and will make annoucements there first.

%p
  Thank you for your understanding. Please don't hesitate to get in touch with us via
  %strong info@bawbawfoodhub.org.au
  if you have any questions or if anything is unclear.
