%h2 Congratulations!

%h4
  You are now signed up for the #{@season.name} season!

%p
  We will pack you a
  %strong= Subscription::SIZES[@subscription.box_size][:name]
  each week between now and the end of February. Unless you have made other arrangements with us, you will need to collect your box on Tuesdays between
  %strong 4pm and 6pm,
  at the rear of
  %strong 34 Mason St, Warragul.
%p
  Bear in mind that we will be taking a break over Christmas and new years, so there will be no pack on either the
  %strong 30th of December
  or the
  %strong 6th of January.

%p
  We offer a
  %strong 5% discount
  if you pay for the full eleven week season
  %strong up-front.
  Just bring cash to the next pickup, or alternatively, if you'd like you'd like to pay via EFT, head to our
  =link_to "online store", 'https://openfoodnetwork.org.au/enterprises/119-baw-baw-fresh-organics/shop', target: '_blank'
  and place an order there so we know who the transfer is from and what it is for. Your order confirmation email will provide the bank account details.

%p
  You can also use the online store to pay for individual boxes and to buy any extras to go with your veggies.
  The store is open between
  %strong Wednesday
  and
  %strong Saturday.

=link_to "Back to Home", root_path, class: 'button'

=link_to "Shop on the OFN", 'https://openfoodnetwork.org.au/enterprises/119-baw-baw-fresh-organics/shop', target: '_blank', class: 'button red'

