= render 'shared/subscription_confirm_message'

=link_to "Back to Home", root_path, class: 'button radius'

=link_to "Shop For Extras", 'https://openfoodnetwork.org.au/bawbawfoodhub/shop', target: '_blank', class: 'button radius red'
