%h2 Congratulations!

%h4
  You are now signed up for the #{@season.name} season!

%p
  We will pack you a
  %strong= Subscription::SIZES[@subscription.box_size]
  each week between now and the end of February. Unless you have made other arrangements with us, you will need to collect your box on Tuesdays bewteen
  %strong 4pm and 6pm,
  at the rear of
  %strong 34 Mason St, Warragul.
%p
  Bear in mind that we will be taking a break over Christmas and new years, so there will be no pack on either the
  %strong 30th of December
  or the
  %strong 6th of January

%p
  If you'd like to buy any extras to go with your veggie box or to pay for your box online, you can do so through our online store on the
  %strong Open Food Network.
  The store is open between
  %strong Wednesday
  and
  %strong Saturday.

=link_to "Back to Home", root_path, class: 'button'

=link_to "Shop on the OFN", 'https://openfoodnetwork.org.au/enterprises/119-baw-baw-fresh-organics/shop', class: 'button red'

