%h2 Oops!

%h4
  The user
  = @email
  already exists.

%p If this is you, and you would like to manage your subscriptions, please sign in now. If this is not your email address, click 'Use a different address', to continue the signup process with a different email address.

=link_to "Sign In Now", new_user_session_path, class: 'button'

=link_to "Use a different address", new_season_subscription_path(@season), class: 'button'

