%h2 Oops!

%h4
  The user
  %b= @user.email
  already exists, but the password you entered was not correct.

%p If this is you, and you would like to continue with sign-up using this account, please enter your password below.

=form_for ([@season, @subscription]) do |f|
  = render 'hidden_subscription_fields', f: f

  =f.fields_for :user, @user do |uf|
    =uf.hidden_field :email

    .row
      .small-12.medium-6.columns
        =uf.label :password do
          Password
        =uf.password_field :password

  %br
  .row
    .small-12.medium-6.columns
      .row
        .small-12.columns
          = submit_tag "Confirm Password", class: 'button radius red left'
        .small-12.columns
          = link_to "Forgot your password?", new_user_password_path
    .small-12.medium-6.columns
      =link_to "Use a different email address", new_season_subscription_path(@season), class: 'button radius right'
  .row
