.row
  %h2 Admin Dashboard
.row
  =link_to "Go to CMS", comfy_admin_cms_path, class: "button"
.row
  =link_to "Manage Seasons", admin_seasons_path, class: "button"
.row
  =link_to "Manage Users", admin_users_path, class: "button"
