.row
  .small-12.medium-6.columns.text-center
    %h2 Opening Hours
    %h5 (restricted due to COVID-19)
    %br
    %h3 Tue 4pm - 5:30pm (Subscribers only)
    %h3 Wed 10am - 5:30pm
    %h3 Thu 10am - 5:30pm
    %br
    %h2 Location
    %h3 158 Queen Street, Warragul
  .small-12.medium-6.columns.text-center
    .small-12.small-centered.columns
      %iframe{:allowfullscreen => "", height: "400", width: '100%', :frameborder => "0", :src => "https://www.google.com/maps/embed/v1/place?key=#{Rails.application.secrets.google_maps_api_key}&q=Baw+Baw+Food+Hub,Warragul+Australia", :style => "border:0" }
