%h2 Apologies, your contact request was flagged as suspicious and could not be submitted.

%p
  Please don't hesitate to get in touch with us directly via
  %strong= Rails.application.secrets.admin_email
  instead.
