= form_for [:admin, @user] do |f|
  .row
    .small-12.medium-6.columns
      =f.label :given_name
      =f.text_field :given_name
    .small-12.medium-6.columns
      =f.label :surname
      =f.text_field :surname
  .row
    .small-12.medium-6.columns
      =f.label :email
      =f.text_field :email
    .small-12.medium-6.columns
      =f.label :phone
      =f.text_field :phone
  -if %w(new create).include? action_name
    .row
      .small-12.medium-6.columns
        &nbsp;
      .small-12.medium-6.columns
        =f.check_box(:skip_initialisation, checked: true)
        =f.label :skip_initialisation, "Skip Initialisation? (advised)"
  .row
    .small-12.columns
      -if %w(new create).include? action_name
        = submit_tag "Create"
      -else
        = submit_tag "Update"
      = link_to "Cancel", admin_users_path, class: "button red"
