= form_for [:admin, @subscription] do |f|
  .row
    .small-12.medium-6.columns
      =f.label :season_id
      =f.collection_select :season_id, Season.order(created_at: :desc).all, :id, :name, {disabled: Season.where(signups_open: false).map(&:id) }, {disabled: %w(new create).exclude?(action_name)}

    .small-12.medium-6.columns
      =f.label :user_id
      =f.collection_select :user_id, User.order(email: :asc), :id, :email, {}, {disabled: %w(new create).exclude?(action_name)}
  .row
    .small-12.medium-6.columns
      =f.label :box_size
      =f.select :box_size, Subscription::SIZES.map{ |k,v| [v[:name], k]}
    -if %w(new create).include? action_name
      .small-12.medium-6.columns
        =f.label :skip_confirmation_email, "Send A Confirmation Email?"
        =f.radio_button :skip_confirmation_email, "no", checked: true
        =f.label :skip_confirmation_no, "Yes"
        =f.radio_button :skip_confirmation_email, "yes"
        =f.label :skip_confirmation_yes, "No"

  .row
    .small-12.columns
      -if %w(new create).include? action_name
        = submit_tag "Create"
      -else
        = submit_tag "Update"
      = link_to "Cancel", :back, class: "button red"
