- if @ignored_emails && @ignored_emails.any?
  .row
    .small-12.columns
      %h4 The following emails were ignored because rollovers already exist for these users
      = @ignored_emails.join(", ")

- if @invalid_emails && @invalid_emails.any?
  .row
    .small-12.columns
      %h4 The following rows were ignored because they contain invalid data
      = @invalid_emails.join(", ")
