.chunky {
  .panel {
    background-color: #fbfbfb;
    border: 2px solid #d8d8d8;
    h1, h2, h3, h4, h5, h6, p {
      color: #7d7d7d;
    }
    .green {
      color: #209348;
    }
  }

  &.selected {
    .panel{
      background-color: #f2f2f2;
      border: 2px solid #209348;
      h1, h2, h3, h4, h5, h6, p {
        color: #4f4f4f;
      }
      .green {
        color: #209348;
      }
    }

    input[type=radio]:not(old) {
      &+label {
        &:after {
          @extend .fa;
          content: '\f00c';
          padding-left: 5px;
        }
      }
    }
  }

  input[type=radio]:not(old) {
    width: 2em;
    margin: 0;
    padding: 0;
    opacity: 0;

    &+label {
      display: inline-block;
      margin-left: -1em;
      line-height: 1.5em;
    }

    &:checked {
      &+label {
        background-color: #209348;
      }
    }
  }
}
