@mixin red-hover {
  background-color: #d63e3e;

  &:hover {
    background-color: darken(#d63e3e, 10);
  }
}

.button {
  &.red { @include red-hover; }

  &.no-margin {
    margin: 0px;
  }
}

input[type="submit"] {
  @include button();
  &.red { @include red-hover; }
}

.top-bar-section {
  ul li {
    > a {
      &.button {
        border-radius: 8px;
        padding-top: 0.2rem;
        &:hover { color: #fff; }
        &.red { @include red-hover; }
      }
    }
  }
}
