.button {
  &.red {
    background-color: #d63e3e;

    &:hover {
      background-color: darken(#d63e3e, 10);
    }
  }

  &.no-margin {
    margin: 0px;
  }
}

input[type="submit"] {
  @include button();
  &.red { @extend .button.red; }
}

.top-bar-section {
  ul li {
    > a {
      &.button {
        border-radius: 8px;
        padding-top: 0.2rem;
        &.red { @extend .button.red; }
        &:hover { color: #fff; }
      }
    }
  }
}
