.header
  min-height: 150px
  padding-bottom: 2em
  background-image: image-url('layout/headerbg.jpg')
  background-size: cover
  .auth
    text-align: right
    padding: 5px
    color: #ffffff
    a
      color: #ffffff
  .title
    text-align: center
    .row
      margin-top: 20px
    .big a
      @media all and (max-width: 480px)
        font-size: 2.0em
      @media all and (min-width: 480px)
        font-size: 2.5em
      @media all and (min-width: 768px)
        font-size: 3.5em
      @media all and (min-width: 1024px)
        font-size: 4.5em
      font-weight: bold
      font-family: 'Montserrat', 'sans-serif'
      color: #ffffff
    #tagline
      @media all and (max-width: 480px)
        font-size: 1em
      @media all and (min-width: 480px)
        font-size: 1.2em
      @media all and (min-width: 768px)
        font-size: 1.4em
      font-size: 1.4em
      font-family: 'Montserrat', 'sans-serif'
      color: #ffffff
.nav-bar
  background-color: #209348
  .button
    padding: 0.8em
    margin: 0px
    font-size: 1.1em
    background-color: #209348
    font-family: 'Montserrat', 'sans-serif'
    &:hover
      background-color: #187638
    &.dropdown
      padding-right: 2.0em

.footer
  padding: 2em 0em
  background-color: #209348
  color: #ffffff
  // Buttons
  .button
    &.red
      background-color: #d63e3e
      &:hover
        background-color: darken(#d63e3e, 10)
  h4
    color: #ffffff
  a
    &:link, &:visited, &:active
      color: #ffffff
    &:hover
      color: #d6d6d6
