.contain-to-grid
  %nav.top-bar{ role: "navigation", 'data-topbar' => true }
    %ul.title-area
      %li.name
        %h1
          %a{ href:"#{root_path}" }
            =icon('home')
            HOME
      %li.toggle-topbar.menu-icon
        %a{ href:"#" }
          %span
    %section.top-bar-section
      %ul.left
        %li
          %a{ href: admin_root_path }
            %i{ class: "fa fa-dashboard" }
            Dashboard
        %li
          %a{ href: admin_seasons_path }
            %i{ class: "fa fa-sun-o" }
            Seasons
        %li
          %a{ href: admin_users_path }
            %i{ class: "fa fa-user" }
            Users
        %li
          %a{ href: admin_faq_groups_path }
            %i{ class: "fa fa-question-circle" }
            FAQs
        %li
          %a{ href: admin_sensors_path }
            %i{ class: "fa fa-thermometer-empty" }
            Sensors
        %li
          %a{ href: admin_jobs_path }
            %i{ class: "fa fa-id-card" }
            Jobs
        %li
          %a{ href: comfy_admin_cms_path }
            %i{ class: "fa fa-pencil" }
            CMS
