- header_class = root_path? ? "full" : ""
.header{ class: header_class }
  .row
    .small-12.columns.text-center
      %a{ href:"#{root_path}" }
        %img#logo{ src: '/assets/bbfh-logo-white.svg' }
  .row#scroll-for-more
    .small-12-columns.text-center
      = icon('chevron-down')
