- header_class = root_path? ? "full" : ""
.header{ class: header_class }
  .row
    .small-12.columns.text-center
      %a{ href:"#{root_path}" }
        = image_tag 'bbfh-logo-white.svg', id: 'logo'
  .row#scroll-for-more
    .small-12-columns.text-center
      = icon('chevron-down')
